{% extends 'articles/base.html' %}
{% block title %} {{ article.article_title }}{% endblock %}
{% block content %}
    <h2>{{ article.article_title }}</h2>
    <p>{{ article.article_text }}</p>
    <em>{{ article.publishing_date }}</em>
    <hr>
    {% if latest_comments_list %}
        {% for foo in latest_comments_list.all %}
            <p><strong>{{ foo.author_name}}</strong></p>
            <p>{{ foo.comment_text }}</p>
        {% endfor %}

    {% else %}
        Coments not found
    {% endif %}

    <hr>
    <form action= " /articles:leave_comment article_id " method="post">
        {% csrf_token %}
        <label>
            <input type="text" required placeholder="Your name" name="name">
        </label><br>
        <label>
            <textarea name="text" required="" placeholder="Comment text:" cols="30" rows="10"></textarea>
        </label><br>
        <button type="submit">Post comment</button>
    </form>
{% endblock %}